[Desktop Entry]
Version=1.0
Name=BITSTATS Core
Comment=BITSTATS P2P Cryptocurrency
Exec=BITSTATS-qt %u
Terminal=false
Type=Application
Icon=BITSTATS128
MimeType=x-scheme-handler/BITSTATS;
Categories=Office;Finance;
StartupWMClass=Bitstats-qt
Name[en_IN]=bitstats-qt.desktop
