
## <summary>policy for bitstats</summary>


########################################
## <summary>
##	Transition to bitstats.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitstats_domtrans',`
	gen_require(`
		type bitstats_t, bitstats_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitstats_exec_t, bitstats_t)
')


########################################
## <summary>
##	Execute bitstats server in the bitstats domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitstats_initrc_domtrans',`
	gen_require(`
		type bitstats_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitstats_initrc_exec_t)
')


########################################
## <summary>
##	Search bitstats lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitstats_search_lib',`
	gen_require(`
		type bitstats_var_lib_t;
	')

	allow $1 bitstats_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitstats lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitstats_read_lib_files',`
	gen_require(`
		type bitstats_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitstats_var_lib_t, bitstats_var_lib_t)
')

########################################
## <summary>
##	Manage bitstats lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitstats_manage_lib_files',`
	gen_require(`
		type bitstats_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitstats_var_lib_t, bitstats_var_lib_t)
')

########################################
## <summary>
##	Manage bitstats lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitstats_manage_lib_dirs',`
	gen_require(`
		type bitstats_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitstats_var_lib_t, bitstats_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitstats environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitstats_admin',`
	gen_require(`
		type bitstats_t;
		type bitstats_initrc_exec_t;
		type bitstats_var_lib_t;
	')

	allow $1 bitstats_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitstats_t)

	bitstats_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitstats_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitstats_var_lib_t)

')

